@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Languages").Text;
    Layout = "_AdminLayout";
}
<antiforgery-token />
<div class="row">
    <div class="col-md-12">
        <div class="portlet light form-fit">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-language"></i>
                    @T("Admin.Configuration.Languages")
                </div>

            </div>
            <div class="portlet-body form">
                <div class="form-horizontal">
                    <div class="form-body">
                        <div class="portlet-body">
                            <div id="languages-grid"></div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="btn btn-primary">
                <a href="@Url.Action("Create")" class="btn text-white">
                    <i class="fa fa-plus"></i>
                    <span class="hidden-xs"> @T("Admin.Common.AddNew") </span>
                </a>
            </div>
        </div>
        @*<a href="@Url.Action("Create")" class="shine-button">
                <span class="shine"></span>
                <i class="fa fa-plus"></i>
                <span class="text hidden-xs"> @T("Admin.Common.AddNew") </span>
            </a>*@
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#languages-grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("List", "Language"))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                numeric: false,
                previousNext: true,
                info: false
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [
            {
                field: "FlagImageFileName",
                title: "@T("Admin.Configuration.Languages.Fields.FlagImage")",
                width: 22,
                attributes: { style: "text-align:center" },
                headerAttributes: {
                    style: "text-align:center"
                },
                template: '<img src="@Url.Content("~/img/flags/")#=FlagImageFileName#" />'
            },
            {
                field: "Name",
                width: 150,
    		    headerAttributes: {
					style: "text-align:center"
                },
                attributes: { style: "text-align:center" },
				//attributes: {
				//	"class": "table-cell",
				//style: "text-align:center"
				//},
                title: "@T("Admin.Configuration.Languages.Fields.Name")",
                template: '<a class="k-link" href="Edit/#=Id#">#=Name#</a>',
            },
            {
                field: "LanguageCulture",
                headerAttributes: {
                    style: "text-align:center"
                },
                attributes: { style: "text-align:center" },
                title: "@T("Admin.Configuration.Languages.Fields.LanguageCulture")",
                width: 200
            },{
                field: "DisplayOrder",
                headerAttributes: {
                    style: "text-align:center"
                },
                attributes: { style: "text-align:center" },
                title: "@T("Admin.Configuration.Languages.Fields.DisplayOrder")",
                width: 100
            }, {
                field: "Published",
                headerAttributes: {
                    style: "text-align:center"
                },
                title: "@T("Admin.Configuration.Languages.Fields.Published")",
                width: 100,
                headerAttributes: { style: "text-align:center" },
                attributes: { style: "text-align:center" },
                template: '# if(Published) {# <i class="fa fa-check" aria-hidden="true" style="color:green"></i> #} else {# <i class="fa fa-times" aria-hidden="true" style="color:red"></i> #} #'
            }]
        });
    });
</script>
