@using AtiehJobCore.Core.Enums
@model LoginModel

@{
    Layout = "_AccountLayout";

    //title
    Html.AddTitleParts(T("PageTitle.Login").Text);

    //register URL with return URL (if specified)
    var registerUrl = Url.RouteUrl("Register");
    if (!string.IsNullOrEmpty(this.Context.Request.Query["returnUrl"]))
    {
        registerUrl = WebHelper.ModifyQueryString(registerUrl, "returnurl=" + WebUtility.UrlEncode(this.Context.Request.Query["returnUrl"]), null);
    }
    //var userLoginType = Model.UserLoginType;
}
<div class="page login-page">
    <h2 class="generalTitle">@T("Account.Login.Welcome")</h2>
    <partial name="_ExternalAuthentication.Errors" />
    <div class="mb-2">
        <div class="row flex-md-row flex-grid mt-3 mb-3">
            @* login main block *@
            <div class="col-lg-6 col-12">
                <div class="card">
                    <form asp-route="Login" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post">
                        <h5 class="card-header"><strong>@T("Account.Login.ReturningUser")</strong></h5>
                        @*<input asp-for="UserLoginType" type="hidden" value="@Model.UserLoginType" />*@
                        <div class="card-body">
                            <div class="col-12">
                                <div asp-validation-summary="ModelOnly" class="message-error">@T("Account.Login.Unsuccessful")</div>
                                <div class="form-group">
                                    @*@if (userLoginType == UserLoginType.Username)
                                        {
                                            <div class="form-group row">
                                                <div class="col-lg-3 col-12">
                                                    <label asp-for="Username" class="col-form-label">@T("Account.Login.Fields.UserName"):</label>
                                                </div>
                                                <div class="col-lg-9 col-12">
                                                    <input asp-for="Username" class="form-control username" autofocus="autofocus" />
                                                    <span asp-validation-for="Username"></span>
                                                </div>
                                            </div>
                                        }
                                        else if (userLoginType == UserLoginType.Email)
                                        {
                                            <div class="form-group row">
                                                <div class="col-lg-3 col-12">
                                                    <label asp-for="Email" class="col-form-label">@T("Account.Login.Fields.Email"):</label>
                                                </div>
                                                <div class="col-lg-9 col-12">
                                                    <input asp-for="Email" class="form-control email" autofocus="autofocus" />
                                                    <span asp-validation-for="Email"></span>
                                                </div>
                                            </div>
                                        }
                                        else if (userLoginType == UserLoginType.MobileNumber)
                                        {
                                            <div class="form-group row">
                                                <div class="col-lg-3 col-12">
                                                    <label asp-for="MobileNumber" class="col-form-label">@T("Account.Login.Fields.MobileNumber"):</label>
                                                </div>
                                                <div class="col-lg-9 col-12">
                                                    <input asp-for="MobileNumber" class="form-control mobileNumber" autofocus="autofocus" />
                                                    <span asp-validation-for="MobileNumber"></span>
                                                </div>
                                            </div>
                                        }
                                        else if (userLoginType == UserLoginType.NationalCode)
                                        {
                                            <div class="form-group row">
                                                <div class="col-lg-3 col-12">
                                                    <label asp-for="NationalCode" class="col-form-label">@T("Account.Login.Fields.NationalCode"):</label>
                                                </div>
                                                <div class="col-lg-9 col-12">
                                                    <input asp-for="NationalCode" class="form-control nationalCode" autofocus="autofocus" />
                                                    <span asp-validation-for="NationalCode"></span>
                                                </div>
                                            </div>
                                        }*@
                                    <div class="form-group row">
                                        <div class="col-lg-3 col-12">
                                            <label asp-for="Password" class="col-form-label">@T("Account.Login.Fields.Password"):</label>
                                        </div>
                                        <div class="col-lg-9 col-12">
                                            <input asp-for="Password" class="form-control password" />
                                            <span asp-validation-for="Password"></span>
                                        </div>
                                    </div>
                                    <div class="inputs d-flex flex-row">
                                        <label class="custom-control custom-checkbox">
                                            <input class="custom-control-input" asp-for="RememberMe" />
                                            <input class="custom-control-label" name="RememberMe" type="hidden" value="false">
                                            <span class="custom-control-label"></span>
                                            <span class="custom-control-description">@T("Account.Login.Fields.RememberMe")</span>
                                        </label>
                                        <span class="ml-3 forgot-password">
                                            <a asp-route="PasswordRecovery">@T("Account.Login.ForgotPassword")</a>
                                        </span>
                                    </div>
                                    @if (Model.DisplayCaptcha)
                                    {
                                        <div class="captcha-box">
                                            <captcha />
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="buttons">
                                <input class="btn btn-info login-button" type="submit" value="@T("Account.Login.LoginButton")" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="card-body register-block">
                    <h5><strong>@T("Account.Login.NewUser")</strong></h5>
                    <div class="text generalMarginSupporter">
                        @T("Account.Login.NewUserText")
                    </div>

                    <div class="buttons">
                        <input type="button" class="btn btn-secondary register-button"
                               onclick="location.href='@registerUrl'" value="@T("Account.Register")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="external-authentication">
        @await Component.InvokeAsync("ExternalMethods")
    </div>
</div>


