@model AtiehJobCore.Web.Framework.Models.Account.Placement.RegisterPlacementModel
@using System.Text.Encodings.Web
@using AtiehJobCore.Core.Domain.Placements
@using AtiehJobCore.Core.Domain.Users
@using AtiehJobCore.Web.Framework.Security.Honeypot

@inject UserSettings UserSettings
@inject PlacementSettings PlacementSettings

@{
    Layout = "_AccountLayout";
    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);

}

<form asp-route="RegisterPlacement" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post">
    <div class="container">
        <div asp-validation-summary="ModelOnly" class="message-error"></div>
        <div class="">
            <h3 class="h4 card-header">@T("Account.YourPersonalDetails")</h3>
            <div class="">
                @if (Model.UsernamesEnabled)
                {
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" asp-for="Username" autocomplete="off"
                                   class="validate" autofocus="autofocus" />
                            <label asp-for="Username">@T("Account.Fields.Username"):</label>
                            <span asp-validation-for="Username"></span>
                            @if (Model.CheckUsernameAvailabilityEnabled)
                            {
                                <partial name="_CheckUsernameAvailability" />
                            }
                        </div>
                    </div>
                }
                @if (UserSettings.IsDisplayEmail)
                {
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="email" asp-for="Email" autocomplete="off"
                                   class="validate" autofocus="autofocus" />
                            <label asp-for="Email">@T("Account.Fields.Email"):</label>
                            @if (UserSettings.ForceEmailValidation)
                            {
                                <span asp-validation-for="Email"></span>
                            }
                        </div>
                    </div>
                }

                @if (UserSettings.IsDisplayMobileNumber)
                {
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" asp-for="MobileNumber" autocomplete="off"
                                   class="validate" autofocus="autofocus" />
                            <label asp-for="MobileNumber">@T("Account.Fields.MobileNumber"):</label>
                            @if (UserSettings.ForceMobileNumberValidation)
                            {
                                <span asp-validation-for="MobileNumber"></span>
                            }
                        </div>
                    </div>
                }

                @if (UserSettings.IsDisplayNationalCode)
                {
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" asp-for="NationalCode" autocomplete="off"
                                   class="validate" autofocus="autofocus" />
                            <label asp-for="NationalCode">@T("Account.Fields.NationalCode"):</label>
                            @if (UserSettings.ForceNationalCodeValidation)
                            {
                                <span asp-validation-for="NationalCode"></span>
                            }
                        </div>
                    </div>
                }

                @if (PlacementSettings.IsDisplayLicenseNumber)
                {
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" asp-for="LicenseNumber" autocomplete="off"
                                   class="validate" autofocus="autofocus" />
                            <label asp-for="LicenseNumber">@T("Account.Fields.LicenseNumber"):</label>
                            @if (!PlacementSettings.IsOptionalLicenseNumber || !PlacementSettings.AllowDuplicateLicenseNumber)
                            {
                                <span asp-validation-for="LicenseNumber"></span>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>

        @if (Model.UserAttributes.Any())
        {
            <div class="">
                <h3 class="h5 card-header">@T("Account.Options")</h3>
                <div class="card-body">
                    @if (Model.UserAttributes.Any())
                    {
                        <partial name="_UserAttributes" model="Model.UserAttributes" />
                    }
                </div>
            </div>
        }

        <div class="">
            <h3 class="h5 card-header">@T("Account.YourPassword")</h3>
            <div class="card-body">
                <div class="form-group col-12">
                    <div class="row">
                        <label asp-for="Password" class="col-form-label">@T("Account.Fields.Password"):</label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password"></span>
                    </div>
                </div>
                <div class="form-group col-12">
                    <div class="row">
                        <label asp-for="ConfirmPassword" class="col-form-label">@T("Account.Fields.ConfirmPassword"):</label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword"></span>
                    </div>
                </div>
                @if (Model.DisplayCaptcha)
                {
                    <div class="captcha-box form-group">
                        <captcha />
                    </div>
                }
                @if (Model.HoneypotEnabled)
                {
                    <div class="form-group">
                        @Html.Raw(Html.GenerateHoneypotInput())
                    </div>
                }
            </div>
        </div>
        @if (Model.AcceptPrivacyPolicyEnabled)
        {
            <script asp-location="Footer">
                $(document).ready(function () {
                    $('#register-button').click(function () {
                        if ($('#accept-privacy-policy').is(':checked')) {
                            //do some stuff
                            return true;
                        }
                        else {
                            //just show validation errors, dont post
                            alert('@Html.Raw(JavaScriptEncoder.Default.Encode(T("Account.Fields.AcceptPrivacyPolicy.Required").Text))');
                            return false;
                        }
                    });
                });
            </script>
            <label class="custom-control custom-checkbox">
                <input id="accept-privacy-policy" name="accept-privacy-policy" type="checkbox" class="custom-control-input">
                <span class="custom-control-label"></span>
                <span class="custom-control-description">@T("Account.Fields.AcceptPrivacyPolicy")</span>
                <span class="read" onclick="javascript:OpenWindow('@Url.RouteUrl("TopicPopup",
                                                                       new {SystemName = "privacyinfo"})', 450, 500, true)">
                    @T("Account.Fields.AcceptPrivacyPolicy.Read")
                </span>
            </label>
        }
    </div>
    <input type="submit" id="register-button" class="btn btn-secondary register-next-step-button mt-3 mb-3"
           value="@T("Account.Register.Button")" name="register-button" />
</form>

