@using AtiehJobCore.Web.Framework.UI
@{
    Layout = null;
    var pageTitle = ViewData["Title"] ?? "کاریابی آتیه کار";

    Html.AddCssFileParts("/css/account.min.css", excludeFromBundle: false);
    Html.AppendScriptParts(ResourceLocation.Footer, "/js/account.min.js", excludeFromBundle: false);
    if (this.IsRtl)
    {
        Html.AddCssFileParts("/css/account-rtl.min.css", excludeFromBundle: false);
    }
}
<!DOCTYPE html>
<html lang="@(this.WorkingLanguage)" dir="@(this.IsRtl ? "rtl": "ltr")">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@pageTitle</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, shrink-to-fit=no, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    @Html.AtiehJobHeadCustom()
    @Html.AtiehJobCssFiles(this.Url, ResourceLocation.Head, false)
    @Html.AtiehJobScripts(this.Url, ResourceLocation.Head, false)

</head>
<body>
    @*<nav class="navbar navbar-expand-sm justify-content-center">
            <a asp-controller="Home" asp-action="Index" asp-area="" class="navbar-brand d-none d-sm-inline-block">
                کاریابی آتیه کار
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                            <span class="fa fa-home" aria-hidden="true"></span>
                            خانه
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link 3</a>
                    </li>
                </ul>
            </div>

        </nav>*@
    <!-- .navbar -->
    @*<nav>
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">کاریابی آتیه کار</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                                <span class="fa fa-home" aria-hidden="true"></span>
                                خانه
                            </a>
                        </li>
                        <li><a href="sass.html">Sass</a></li>
                        <li><a href="badges.html">Components</a></li>
                        <li><a href="collapsible.html">Javascript</a></li>
                        <li><a href="mobile.html">Mobile</a></li>
                    </ul>
                </div>
            </nav>

        <ul class="sidenav" id="mobile-demo">
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <span class="fas fa-home" aria-hidden="true"></span>
                    خانه
                </a>
            </li>
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">Javascript</a></li>
            <li><a href="mobile.html">Mobile</a></li>
        </ul>*@
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper cyan">
                <a href="#" class="left brand-logo">@T("AtiehJob.Logo")</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index">
                            <span class="fa fa-home" aria-hidden="true"></span>
                            خانه
                        </a>
                    </li>
                    <li>
                        <a asp-action="Login" asp-controller="User" asp-area="Account">
                            <span class="fa fa-sign-in-alt" aria-hidden="true"></span>
                            ورود
                        </a>
                    </li>
                    <li>
                        <a asp-controller="User" asp-action="RegisterJobseeker" asp-area="Account">
                            <span class="fa fa-plug" aria-hidden="true"></span>
                            ثبت نام کارجو
                        </a>
                    </li>
                    <li>
                        <a asp-controller="User" asp-action="RegisterEmployer" asp-area="Account">
                            <span class="fa fa-plug" aria-hidden="true"></span>
                            ثبت نام کارفرما
                        </a>
                    </li>
                    <li>
                        <a asp-controller="User" asp-action="RegisterPlacement" asp-area="Account">
                            <span class="fa fa-plug" aria-hidden="true"></span>
                            ثبت نام کاریاب
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <ul class="sidenav" id="mobile-demo">
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <span class="fas fa-home" aria-hidden="true"></span>
                خانه
            </a>
        </li>
        <li>
            <a asp-action="Login" asp-controller="User" asp-area="Account">
                <i class="fa fa-sign-in-alt" aria-hidden="true">
                </i>
                ورود
            </a>
        </li>
        <li>
            <a asp-controller="User" asp-action="RegisterJobseeker" asp-area="Account">
                <i class="fa fa-plug" aria-hidden="true">
                </i>
                ثبت نام کارجو
            </a>
        </li>
        <li>
            <a asp-controller="User" asp-action="RegisterEmployer" asp-area="Account">
                <i class="fa fa-plug" aria-hidden="true">
                </i>
                ثبت نام کارفرما
            </a>
        </li>
        <li>
            <a asp-controller="User" asp-action="RegisterPlacement" asp-area="Account">
                <i class="fa fa-plug" aria-hidden="true">
                </i>
                ثبت نام کاریاب
            </a>
        </li>
    </ul>
    <!-- /.navbar -->
    @*@await Html.PartialAsync("_BreadCrumb")*@

    <main role="main" class="container">
        <div id="content" class="row">
            @RenderBody()
        </div>
    </main>

    @await Html.PartialAsync("_Foot")

    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(document).ready(function ()
        {
            $('.sidenav').sidenav();
        });
    </script>
</body>
</html>
